# **Exercises 06**
***Dictionary***

**Exercise 01**

> Create an empty dictionary called dog

> Add name, color, breed, legs, age to the dog dictionary

In [1]:
#Create an empty dictionary called dog
dog={}

In [2]:
#Add name, color, breed, legs, age to the dog dictionary
dog['name']='Charlie'
dog['color']='white'
dog['breed']='Pomeranian'
dog['legs']='short'
dog['age']=3

In [3]:
dog

{'name': 'Charlie',
 'color': 'white',
 'breed': 'Pomeranian',
 'legs': 'short',
 'age': 3}

**Exercise 02**

> Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys for the dictionary

> Get the length of the student dictionary

> Get the value of skills and check the data type, it should be a list 

> Modify the skills values by adding one or two skills

> Get the dictionary keys as a list

> Get the dictionary values as a list

>Change the dictionary to a list of tuples using items() method

> Delete one of the items in the dictionary

> Delete one of the dictionaries

In [4]:
# Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys for the dictionary
student={}

In [5]:
student['first_name']='Ali'
student['last_name']= 'Ghassemi'
student['gender']= 'Male'
student['age']= 16
student['skills']=['facilities','Electeric work','drawing']
student['country']= 'Iran'
student['city']='Theran'
student['address']='Agricultural Complex, Phase 4, Andisheh'

In [6]:
student

{'first_name': 'Ali',
 'last_name': 'Ghassemi',
 'gender': 'Male',
 'age': 16,
 'skills': ['facilities', 'Electeric work', 'drawing'],
 'country': 'Iran',
 'city': 'Theran',
 'address': 'Agricultural Complex, Phase 4, Andisheh'}

In [7]:
# Get the length of the student dictionary
len(student)

8

In [8]:
# Get the value of skills and check the data type, it should be a list

In [9]:
print(student['skills'])
print()
type(student['skills'])

['facilities', 'Electeric work', 'drawing']

list

In [10]:
# Modify the skills values 
student['skills'][2]='Autocad'
print('Modify to list=',student['skills'])
print()
# adding one or two skills
student['skills'] += ['driving']
print('Adding to list=',student['skills'])

Modify to list= ['facilities', 'Electeric work', 'Autocad']

Adding to list= ['facilities', 'Electeric work', 'Autocad', 'driving']

In [11]:
#Get the dictionary keys as a list
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'skills', 'country', 'city', 'address'])

In [12]:
#Get the dictionary values as a list
student.values()

dict_values(['Ali', 'Ghassemi', 'Male', 16, ['facilities', 'Electeric work', 'Autocad', 'driving'], 'Iran', 'Theran', 'Agricultural Complex, Phase 4, Andisheh'])

In [13]:
#Change the dictionary to a list of tuples using items() method
student_list=list(student.items())
print(student_list)

[('first_name', 'Ali'), ('last_name', 'Ghassemi'), ('gender', 'Male'), ('age', 16), ('skills', ['facilities', 'Electeric work', 'Autocad', 'driving']), ('country', 'Iran'), ('city', 'Theran'), ('address', 'Agricultural Complex, Phase 4, Andisheh')]

In [14]:
#Delete one of the items in the dictionary
del student['address']

In [15]:
student

{'first_name': 'Ali',
 'last_name': 'Ghassemi',
 'gender': 'Male',
 'age': 16,
 'skills': ['facilities', 'Electeric work', 'Autocad', 'driving'],
 'country': 'Iran',
 'city': 'Theran'}

In [16]:
#Delete one of the dictionaries
del student

In [17]:
student

NameError: ignored