# **Exercises 04**
# ***list***

**Exercise 01**
**The following is a list of 10 students ages:**


> Sort the list and find the min and max age.

>Add the min age and the max age again to the list.

> IFind the median age (one middle item or two middle items divided by two)

>Find the average age (sum of all items divided by their number ).

> Find the range of the ages (max minus min).

> Compare the value of (min - average) and (max - average), use abs() method.

*   Sort the list and find the min and max age.

In [29]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print('list sort {}'.format(ages))

#Add the min age and the max age again to the list.
import numpy as np
max=np.max(ages)
min=np.min(ages)

print('Max list={}'.format(max))
print('Min list={}'.format(min))

list sort [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Max list=26
Min list=19

In [30]:
#max and min add to list
ages.append(max)
ages.append(min)
print('after list add numbers =  {}'.format(ages))

after list add numbers =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]


*  IFind the median age (one middle item or two middle items divided by two)

In [31]:
#create function middel
def get_median(list_):
  list_.sort()
  n = len(list_)
  m = n // 2
  if n % 2 == 0:
    return (list_[m - 1] + list_[m]) / 2
  else:
    return list_[m]

In [32]:
mediel=get_median(ages)
print('Median Ages in Class= {}'.format(mediel))

Median Ages in Class= 24.0


*   Find the average age (sum of all items divided by their number ).

In [33]:
#create functon average
def get_average(list_):
  list_.sort()
  sum_list=np.sum(list_)
  average=sum_list/len(list_)
  
  return average

In [34]:
average=get_average(ages)
print('Average Ages in Class= {}'.format(average))

Average Ages in Class= 22.75

* Find the range of the ages (max minus min).

In [35]:
#create functon range
def get_range(list_):
  list_.sort()
  max=np.max(list_)
  min=np.min(list_)
  rang=max-min
  return rang

In [36]:
rang=get_range(ages)
print('Rane Ages in Class={}'.format(rang))

Rane Ages in Class=7

* Compare the value of (min - average) and (max - average), use abs() method

In [37]:
#define function compare the value
def get_compare(average,max,min):
   comper_min_avg=np.abs(min-average)
   comper_max_ave=np.abs(max-average)
   return comper_min_avg,comper_max_ave

In [38]:
get_compare(average,max,min)

(3.75, 3.25)