# **Exercises 07**
# set

**Exercise 01**


> Find the length of the set it_companies

> Add 'Twitter' to it_companie

> Insert multiple IT companies at once to the set it_companies

> Remove one of the companies from the set it_companies

> What is the difference between remove and discard

In [26]:
# Find the length of the set it_companies
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

print('Find the length of the set it_companies=',len(it_companies))

Find the length of the set it_companies= 7

In [27]:
#  Add 'Twitter' to it_companie
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [28]:
# Insert multiple IT companies at once to the set it_companies
it_companies.update(['windos','linux'])

In [29]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'linux',
 'windos'}

In [30]:
#Remove one of the companies from the set it_companies
it_companies.discard('Twitter')

In [31]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'linux',
 'windos'}

**What is the difference between remove and discard?**
 
# in remove When deleting, if there is no item in it, it gives an error,but in discard it is not like this, if there is no item, it does not give an error, now it depends on the application, which one is used.

**Exercise 02**

Convert the ages to a set and compare the length of the list and the set, which one is bigger

In [32]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [39]:
#Convert the ages to a set
age_set=set(age)
age

[22, 19, 24, 25, 26, 24, 25, 24]

In [34]:
print(age_set)

{19, 22, 24, 25, 26}

In [35]:
# compare the length of the list and the set, which one is bigger
len_set=len(age_set)
len_list=len(age)

if len_set>len_list :
      print('len set > len list')
else :
     print('len list>len set')

len list>len set

**Exercise 03**

How many unique words have been used in the sentence?
Use the split methods and set to get the unique words.

#(I am a teacher and I love to inspire and teach people.)

In [36]:
string='I am a teacher and I love to inspire and teach people.'

unique_words =set(string.split())

print(unique_words)
print()
print('Len sentence:',len(unique_words))

{'I', 'am', 'teach', 'and', 'to', 'people.', 'love', 'a', 'teacher', 'inspire'}

Len sentence: 10