#**Exercises 05**
*  **Tuple**

**Exercise 01**

>Create an empty tuple

>Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine)

> Join brothers and sisters tuples and assign it to siblings

> How many siblings do you have?

> Modify the siblings tuple and add the name of your father and mother and assign it to family_members

***Create an empty tuple:***

In [115]:
tupl=()

**Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine)**

In [126]:
sisters=('Munira', 'Zainab', 'Asiya', 'Leila',)
broders=('Mahmoud', 'Mahdi', 'Ali' ,'Hossein',)
type(sisters)
type(broders)

tuple

**Join brothers and sisters tuples and assign it to siblings**

In [117]:
siblings =sisters+broders
print('Brothers and sisters {}' .format(siblings))

Brothers and sisters ('Munira', 'Zainab', 'Asiya', 'Leila', 'Mahmoud', 'Mahdi', 'Ali', 'Hossein')

**How many siblings do you have?**

In [118]:
number_siblings=len(siblings)
print('Number Siblings= {}'.format(number_siblings))

Number Siblings= 8

**Modify the siblings tuple and add the name of your father and mother and assign it to family_members**

In [119]:
family_members=('Adam','Eve',)+siblings
print('family_members= {}'.format(family_members))

family_members= ('Adam', 'Eve', 'Munira', 'Zainab', 'Asiya', 'Leila', 'Mahmoud', 'Mahdi', 'Ali', 'Hossein')

**Exercise 02**



> Create fruits, vegetables and animal products tuples, separately.

>Join the above three tuples and assign it to a variable called food_stuff_tp

>Change the about food_stuff_tp tuple to a food_stuff_lt list

> Slice out the middle item of items from the food_stuff_tp tuple or food_stuff_lt list.


> Slice out the middle item of items from the food_stuff_tp tuple or food_stuff_lt list.

> Delete the food_staff_tp tuple completely

**Create fruits, vegetables and animal products tuples, separately.**

In [120]:
firuits=('Apple','Orange', 'lemon', 'cucumber',)
vegetables=('Tarragon', 'tomato', 'onion', 'potato,')
animal=('Dog', 'cat', 'fox', 'bear',)

**Join the above three tuples and assign it to a variable called food_stuff_tp**

In [121]:
food_stuff_tp=firuits+vegetables+animal
print('Join the above three tuples = {}' .format(food_stuff_tp))

Join the above three tuples = ('Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear')

**Change the about food_stuff_tp tuple to a food_stuff_lt list**

In [122]:
list_food_stuff_tp=list(food_stuff_tp)
type(list_food_stuff_tp)

list

**Slice out the middle item of items from the food_stuff_tp tuple or food_stuff_lt list.**

In [123]:
#slice out the middle tuple
def findMiddle(input_list):
    len_ = int(len(input_list))
    middle=len_/2
    if len_ % 2 != 0:
        return input_list[int(middle)]
    else:
        return (input_list[int(middle)], input_list[int(middle-1)])

In [124]:
print(food_stuff_tp)
print()
print('slice out the middle tuple= ',findMiddle(food_stuff_tp))

('Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear')

slice out the middle tuple=  ('onion', 'tomato')

**Delete the food_staff_tp tuple completely**

In [177]:
#tuple conver list and clear
list_food_stuff_tp=list(food_stuff_tp)
print(list_food_stuff_tp)
print()
list_food_stuff_tp.clear()
print('list it is Empty=' ,list_food_stuff_tp)

['Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear']

list it is Empty= []

**Exercise 03**



>Check if 'Estonia' is a nordic country, print True, Otherwise print False!

> Check if 'Iceland' is a nordic country, print True, Otherwise print False!

> nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [165]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden',)

In [172]:
def find_Tuple(Name,Tuple_):
  if Name in Tuple_:
   print('Yes it is {} in list {}'.format(Name, Tuple_))

  else: print('No it is {} in list {}'.format(Name, Tuple_))

In [173]:
find_Tuple('Estonia',nordic_countries)

No it is Estonia in list ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

In [174]:
find_Tuple('Iceland',nordic_countries)

Yes it is Iceland in list ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')